html{
    min-height: 100%;
    
}

.homepage_wrapper{
    min-height: 100%;
    background-image: url("noiseporn-l28IKbjb7oc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.homepage_wrapper img{
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0; 
}