html {
  min-height: 100%;
}

.homepage_image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
  right: 2%;
  top: 5%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 2em;
}

.navbar_links {
  display: inline-block;
  position: relative;
  right: 2%;
  list-style-type: none;
  top: 5%;
}

.navbar_links a {
  text-decoration: none;
  color: white;
  font-family: Termina;
  font-size: 1.5rem;
  margin: 1em;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  height: auto;
  width: 30%;
  position: absolute;
  top: 5%;
  left: 2%;
}
