html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #151515;
  /* min-height: 100%; */
}

.tagline {
  text-align: center;
  display: inline;
}

.dates h2 {
  display: inline;
  color: white;
  font-family: Termina;
  position: absolute;
  text-align: center;
  top: 17em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: lighter;
  font-size: 2vw;
}

.tagline h1 {
  display: inline;
  color: white;
  font-family: Termina;
  position: absolute;
  text-align: center;
  top: 9em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 600;
  font-size: 4vw;
}

.homepage_image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  height: 100%;
  object-fit: cover;
}

.background img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  height: 100%;
  object-fit: cover;
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
  right: 2%;
  top: 5%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 2em;
}

.navbar_links {
  display: inline-block;
  position: relative;
  right: 2%;
  list-style-type: none;
  top: 5%;
}

.navbar_links a {
  text-decoration: none;
  color: white;
  font-family: Termina;
  font-size: 2vw;
  margin: 1em;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  height: auto;
  width: 30%;
  position: absolute;
  top: 5%;
  left: 2%;
}

.top_film img {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: 40em;
}

.film_reel img {
  height: auto;
  width: 100%;
  position: absolute;
  margin-top: -25em;
}

.general-admissions {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 5em;
  margin-top: 8em;
}

.general-admissions-icon {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 10%;
  display: inline;
  position: absolute;
}

.general-admissions-info {
  display: grid;
  display: inline;
  grid-column: 2/3;
  color: white;
  position: absolute;
  text-align: left;
}

.lineup {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  margin-right: 0;
}

.friday {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: 1/2;
  margin-top: 80em;
}

.saturday {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin-top: 15em;
  grid-row: 2/3;
}

.sunday {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin-top: 15em;
  grid-row: 3/4;
}

.day {
  display: grid;
  grid-column: 1/2;
  font-family: Termina;
  color: white;
  font-weight: 600;
  font-size: 3vw;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  position: relative;
}

.fri_arrow {
  display: grid;
  grid-column: 2/3;
  margin-top: -11em;
  width: 20%;
  position: relative;
}

.sat_arrow {
  display: grid;
  grid-column: 2/3;
  width: 25%;
  margin-top: -13em;
  margin-left: -4em;
  position: relative;
}

.sun_arrow {
  display: grid;
  grid-column: 2/3;
  width: 20%;
  position: relative;
  margin-top: -12em;
}

.fri_line {
  display: grid;
  grid-column: 3/4;
  color: white;
  font-family: Raleway;
  display: inline-table;
  margin-top: -13em;
  min-width: 100%;
  margin-left: -5em;
  position: relative;
}

.sat_line {
  display: grid;
  grid-column: 3/4;
  color: white;
  font-family: Raleway;
  display: inline-table;
  margin-top: -16em;
  margin-left: -6em;
  min-width: 100%;
  position: relative;
}

.sun_line {
  display: grid;
  grid-column: 3/4;
  position: relative;
  color: white;
  font-family: Raleway;
  display: inline-table;
  margin-top: -14em;
  margin-left: -7em;
  min-width: 100%;
}

.largest {
  font-size: 4vw;
}

.medium {
  font-size: 2vw;
}
